* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}
.header {
  text-align: center;
  color: #ff6233;
  font-size: 60px;
}
.ctrl {
  display: flex;
  justify-content: center;
}
.ctrl button {
  padding: 24px;
  color: black;
  font-size: 24px;
  min-width: 150px;
  background-color: rgb(77, 219, 196);
  border-radius: 10px;
}
button + button {
  margin-left: 24px;
}

#left {
  margin-left: 15%;
  margin-right: 15%;
}

/* con lo to */
p {
  display: inline-block;
  text-align: center;
  background-color: black;
  color: yellow;
  font-size: 40px;
  padding: 8px;
  min-width: 70px;
  border-radius: 50%;
  margin-left: 16px;
  margin-top: 16px;
}
