* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.ctrl {
  text-align: center;
}
button {
  min-width: 100px;
  min-height: 40px;
  font-size: 23px;
}
#khung {
  margin: auto;
  margin-top: 24px;
  width: 540px;
  height: 675px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}
p {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
  width: 60px;
  height: 75px;
  display: inline-block;
  border: 1px solid black;
  line-height: 75px;
  font-size: 40px;
}
